.stories{
    display: flex;
    gap: 10px;
    background-color: rgb(209, 175, 175);
    padding: 20px;


    .story{
        flex: 1;
        border-radius: 10px;
        background-color: bisque;
        overflow: hidden;

        img{
          //  this means it will be in all stroke-opacity: ;
            width: 100%;
            height: 100%;
            

        }
        span{


        }

    }




}